<ion-header translucent>
  <ion-toolbar color="danger">
    <ion-title> Pokedex App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="dark">
  <ion-searchbar placeholder="Buscar Pokemons" color="redmain"> </ion-searchbar>

  <ion-item-sliding *ngFor="let pokemon of listaPokemons">
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label [color]="pokemon.types[0].type.name | lowercase">{{pokemon.id}}</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>{{pokemon.name}}</h2>
          <ion-badge *ngFor="let type of pokemon.types" [color]="type.type.name | lowercase">{{type.type.name}}</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img [src]="pokemon.sprites.front_shiny">
      </ion-thumbnail>
    </ion-item>
    </ion-item-sliding>
</ion-content>

<ion-footer color="">
  <ion-toolbar color="danger" class="ion-text-center">
    <ion-buttons slot="start" *ngIf="previous">
      <ion-button (click)="previousPage()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    Página: {{ pagina }} de {{ totalPaginas }}

    <ion-buttons slot="end" *ngIf="next">
      <ion-button (click)="nextPage()">
        <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
