<ion-header translucent>
  <ion-toolbar color="tertiary">
    <ion-title>
      Pokedex App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="dark">

  <ion-searchbar placeholder="Buscar Pokemons" color="light"></ion-searchbar>

  <!-- Bulbassaur --> 
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="grass">001</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Bulbasaur</h2>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">Poison</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png">
      </ion-thumbnail>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
      <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!-- Ivysaur -->
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="grass">002</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Ivysaur</h2>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">Poison</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/002.png">
      </ion-thumbnail>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
      <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!-- Venusaur -->
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="grass">003</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Venusaur</h2>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">Poison</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/003.png">
      </ion-thumbnail>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
      <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!-- Charmander -->
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="fire">004</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Charmander</h2>
          <ion-badge color="fire">Fire</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
      </ion-thumbnail>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
      <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!-- Charmeleon -->
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="fire">005</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Charmeleon</h2>
          <ion-badge color="fire">Fire</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/005.png">
      </ion-thumbnail>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
      <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!-- Charizard -->
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="fire">006</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Charizard</h2>
          <ion-badge color="fire">Fire</ion-badge>
          <ion-badge color="flying">Flying</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/006.png">
      </ion-thumbnail>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
      <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!-- Squirtle -->
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="water">007</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Squirtle</h2>
          <ion-badge color="water">Water</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png">
      </ion-thumbnail>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
      <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!-- Wartortle -->
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="water">008</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Squirtle</h2>
          <ion-badge color="water">Water</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/008.png">
      </ion-thumbnail>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
      <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!-- Blastoise -->
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="water">009</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Squirtle</h2>
          <ion-badge color="water">Water</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/009.png">
      </ion-thumbnail>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
      <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!-- Pikachu --> 
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="electric">025</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Pikachu</h2>
          <ion-badge color="electric">Electric</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png">
      </ion-thumbnail>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
      <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  
</ion-content>